.intro-header {
    color: var(--color-darkblue);
    font-weight: 700;
    letter-spacing: -.05rem;
    font-size: 1.4rem;
    text-align: left;
    margin: 0;
}
.button-play {
    background-color: var(--color-yellow);
    border: 2px solid var(--color-darkblue);
    border-radius: 1rem;
    height: 2rem;
    padding: .2rem 1rem 0;

    font-family: 'Comfortaa', var(--font-system);
    color: var(--color-darkblue);
    font-weight: 700;
    letter-spacing: .05rem;
    text-transform: uppercase;

    position: absolute;
    right: 1rem;
    top: calc(50% - 1rem);

    transition: transform .1s ease-in;
}
.button-play:active {
    transform: scale(1.1);
    transition: transform .1s var(--bouncy-easing);
}