.table {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    user-select: none;
    max-width: 400px;
    margin: 0 auto 100px;
    border-spacing: 1px;
}

.table__cell {
    position: relative;
    background: var(--color-yellow);
    flex-basis: calc(10% - 4px);
    border-top: 2px solid var(--color-darkblue);
    border-right: 2px solid var(--color-darkblue);
}
[data-cell='locked'] {
    background: url('./svg/lock.svg') center no-repeat var(--color-gray);
    background-size: 10px;
    color: var(--color-darkblue);
}
.app--learning [data-cell='locked'] {
    background-image: none;
    color: var(--color-darkblue);
}
.table__cell:last-child {
    margin-right: 20px;

}
.table__cell:nth-child(2) {
    border-left: 2px solid var(--color-darkblue);
}
.table__row:last-child .table__cell {
    border-bottom: 2px solid var(--color-darkblue);
}

.table__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 20px;
}

.first-cell {
    color: var(--color-darkblue);
    max-width: 20px;
    width: 20px;
    flex-grow: 0;
    border: none;
}
.table__cell:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.table__head {
    color: var(--color-darkblue);
    border: none !important;
    position: relative;
    font-weight: normal;
    font-size: .75rem;
    background: none;
}

.digit {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;

    color: var(--color-darkblue);
    font-size: 0.75rem;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.number {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.number--byOne {
    background-color: var(--color-lightblue);
}

.number--sameNumbers {
    background-color: var(--color-green);
}

.icon__lock {
    width: .75rem;
    height: .75rem;
}