.task {
    font-size: 2rem;
    font-weight: 700;
}
.task__equal {
    display: inline-block;
    padding: 0 .5rem;
}
.solutions {
    padding: 0;
    display: inline-block;
}
.solution {
    display: inline-block;
    min-width: 2.6rem;
    height: 1.2rem;
    padding: .07rem .4rem;
    box-sizing: border-box;
    border-radius: .5rem;
    border: 2px solid var(--color-darkblue);
    margin: 0 .05rem;
    background-color: var(--color-gray);

    color: var(--color-darkblue);
    font-size: .7rem;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 1rem;
    text-align: center;

    transition: background-color .2s ease-in;
}
.button-stop {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--color-gray);
    background: none;
    color: var(--color-gray);
    position: absolute;
    padding: 0;
    box-sizing: border-box;
    right: 10px;
    top: calc(50% - 12px);
    font-size: 0;
    line-height: 0;
}
.button-stop:before {
    content: '×';
    display: block;
    position: absolute;
    top: .5rem;
    left:.18rem;
    font-size: 1.5rem;
}
.solution--correct {
    background-color: var(--color-yellow);
    animation: correctSolutionAnimation .3s var(--bouncy-easing) .25s;
}
.correct {
    /* @keyframes duration | timing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
    animation: correctAnimation .3s var(--bouncy-easing) .25s;
}
.fail {
    animation: failAnimation .3s linear;
}
@keyframes correctSolutionAnimation {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(.9);
    }
    75% {
        transform: scale(1.2);
    }
}
@keyframes correctAnimation {
    0%, 100% {
        color: currentColor;
        transform: scale(1);
    }
    25% {
        transform: scale(.8);
    }
    50% {
        color: var(--color-green);
    }
    75% {
        transform: scale(1.5);
    }
}
@keyframes failAnimation {
    0%, 100% {
        color: currentColor;
        transform: translateX(0);
    }
    25% {
        transform: translateX(20%);
        color: var(--color-red);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-20%);
        color: var(--color-red);
    }
}