:root {
    --bouncy-easing: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --cell-bg: linear-gradient(0deg, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
    --color-darkblue: #052d4a;
    --color-lightblue: #51a0fc;
    --color-green: #31d2ac;
    --color-red: #e96477;
    --color-yellow: #fedd74;
    --color-gray: #b5c3d6;
    --font-system: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100%;
    overflow: auto;
    font-family: 'Comfortaa', var(--font-system);
}
button {
    outline: none;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 300px;
}
.app--playing {
    background-color: #fff;
}
.app--learning {
    background-color: var(--color-lightblue);
}

.app--learning .display {
    margin-bottom: 4px;
}

.keyboard {
    background: var(--color-lightblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.keyboard--correct:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: var(--color-green);
    animation: checkAnimation .5s linear;
    will-change: opacity;
}

.keyboard--fail:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: var(--color-red);
    animation: checkAnimation .3s linear;
    will-change: opacity;
}

.display {
    text-align: center;
    max-width: 400px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 1rem;
    color: var(--color-yellow);
    min-height: 2rem;
    position: relative;
}

.selected-cell {
    display: none;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 1.75rem;
    position: absolute;
    top: -1.25rem;
    left: calc(50% - 3rem);

    background: var(--color-lightblue);
    border-radius: 1rem;
    border: 2px solid var(--color-darkblue);

    color: #fff;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 0;
    pointer-events: none;
}
.selected-cell--visible {
    transform: translateY(0);
    display: flex;
    animation: .1s selectedShowAnimation .1s var(--bouncy-easing) forwards;
}
.selected-cell--hidden {
    transform: translateY(0);
    display: flex;
    animation: .1s selectedHideAnimation var(--bouncy-easing) forwards;
}

.number--selected:after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 40%;
    height: 40%;
    background: var(--color-darkblue);
    position: absolute;
    top: 30%;
    left: 30%;
    animation: selectAnimation .2s linear forwards;
    will-change: transform, opacity;
    pointer-events: none;
    z-index: 1000;
}

.tip:after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
    /*background: var(--color-red);*/
    border: 2px solid var(--color-red);
    position: absolute;
    top: calc(35% - 1px);
    left: calc(35% - 1px);
    animation: tipAnimation .75s linear infinite;
    will-change: transform, opacity;
    pointer-events: none;
    z-index: 1000;
}

.icon {
    min-width: .5rem;
    min-height: .5rem;
    fill: currentColor;
}

.stroked {
    position: relative;
}
.stroked:after {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: 4px var(--color-darkblue);
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    font-size: 1em;
}

@keyframes tipAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(3.5);
    }
}

@keyframes selectAnimation {
    0% {
        transform: scale(.8);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes checkAnimation {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

@keyframes selectedShowAnimation {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes selectedHideAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}